version: "3.9"

services:

  # Service annuaire
  discovery:
    image: consul:1.11
    container_name: consul
    ports:
      - "8500:8500"
    restart: always
    networks:
      - consul

  # Service de messagerie
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    restart: always
    networks:
      - consul

  # Service de configuration


  # Service api gateway
  api-gateway:
    image: projet-hopital/api-gateway:latest
    container_name: api-gateway
    environment:
      JAVA_TOOL_OPTIONS:
        -DCONSUL_HOST=discovery -DCONSUL_PORT=8500
    ports:
      - "8080:8080"
    restart: always
    networks:
      - consul
    depends_on:
      - discovery


####################################################################################
#                           SERVICE D'AUTHENTIFICATION
####################################################################################

  # Base de données Postgres
  db-postgres-auth:
    image: postgres:alpine
    container_name: bdd_auth
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bdd_auth
    ports:
      - "5433:5432"
    restart: always
    networks:
      - consul

  # Application Spring Boot
  service-auth:
    image: projet-hopital/service-authentification:latest
    container_name: service-auth
    environment:
      JAVA_TOOL_OPTIONS:
        -DCONSUL_HOST=discovery -DCONSUL_PORT=8500
        -DDB_HOST=db-postgres-auth -DDB_PORT=5432 -DDB_USER=postgres -DDB_PASSWORD=postgres -DDB_NAME=bdd_auth
        -DRABBITMQ_USERNAME=guest -DRABBITMQ_PASSWORD=guest -DRABBITMQ_HOST=rabbitmq -DRABBITMQ_PORT=5672
    ports:
      - "8081:8081"
    restart: always
    networks:
      - consul
    depends_on:
      - discovery
      - db-postgres-auth
      - rabbitmq



####################################################################################
#                            SERVICE DE NOTIFICATION
####################################################################################

  # Base de données Postgres
  db-postgres-notif:
    image: postgres:alpine
    container_name: bdd_notif
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bdd_notif
    ports:
      - "5432:5432"
    restart: always
    networks:
      - consul

  # Application Spring Boot
  service-notif:
    image: projet-hopital/service-notification:latest
    container_name: service-notif
    environment:
      JAVA_TOOL_OPTIONS:
        -DCONSUL_HOST=discovery -DCONSUL_PORT=8500
        -DDB_HOST=db-postgres-notif -DDB_PORT=5432 -DDB_USER=postgres -DDB_PASSWORD=postgres -DDB_NAME=bdd_notif
        -DRABBITMQ_USERNAME=guest -DRABBITMQ_PASSWORD=guest -DRABBITMQ_HOST=rabbitmq -DRABBITMQ_PORT=15672
    ports:
      - "8082:8082"
    restart: always
    networks:
      - consul
    depends_on:
      - discovery
      - db-postgres-notif
      - rabbitmq
    #      - service-auth


####################################################################################
#                  SERVICE DE GESTION DES PATIENTS ET PERSONNEL
####################################################################################

  # Base de données Mongo
  db-mongo-rdv-patients:
    image: mongo:latest
    container_name: bdd_rdv_patients
    ports:
      - "27018:27017"
    restart: always
    networks:
      - consul

  # Application Spring Boot
  service-rdv-patients:
    image: projet-hopital/service-gestion-rdv-patients-personnel:latest
    container_name: service-rdv-patients
    environment:
      JAVA_TOOL_OPTIONS:
        -DCONSUL_HOST=discovery -DCONSUL_PORT=8500
        -DDB_HOST=db-mongo-rdv-patients -DDB_PORT=27017 -DDB_USER=mongo -DDB_PASSWORD=mongo -DDB_NAME=rdvpatients
        -DRABBITMQ_USERNAME=guest -DRABBITMQ_PASSWORD=guest -DRABBITMQ_HOST=rabbitmq -DRABBITMQ_PORT=15672
    ports:
      - "8083:8083"
    restart: always
    networks:
      - consul
    depends_on:
      - discovery
      - db-mongo-rdv-patients
#      - rabbitmq

####################################################################################
#                  SERVICE DE GESTION DES STOCKS ET FOURNISSEURS
####################################################################################

  # Base de données Mongo
  db-mongo-stockfournisseurs:
    image: mongo:latest
    container_name: bdd_stockfournisseurs
    ports:
      - "27017:27017"
    networks:
      - consul

  # Application Spring Boot
  service-stockfournisseurs:
    image: projet-hopital/service-gestion-stock-fournisseurs:latest
    container_name: service-stockfournisseurs
    environment:
      JAVA_TOOL_OPTIONS:
        -DCONSUL_HOST=discovery -DCONSUL_PORT=8500
        -DDB_HOST=db-mongo-stockfournisseurs -DDB_PORT=27017 -DDB_USER=mongo -DDB_PASSWORD=mongo -DDB_NAME=gestionStock
        -DRABBITMQ_USERNAME=guest -DRABBITMQ_PASSWORD=guest -DRABBITMQ_HOST=rabbitmq -DRABBITMQ_PORT=15672
    ports:
      - "8084:8084"
    restart: always
    networks:
      - consul
    depends_on:
      - discovery
      - db-mongo-stockfournisseurs
  #     - rabbitmq


####################################################################################
#                            SERVICE DE FACTURATION
####################################################################################



    # Base de données Mongo (service gestion de stocks)
  db_mongo_facturation:
    image: mongo:latest
    container_name: bdd_facturation
    ports:
      - "27019:27017"
    networks:
        - consul


  service-facturation:
    container_name: service-facturation
    image: service-facturation:1.0
    ports:
      - "8085:80"
    environment:
      - Consul__Host=discovery
      - Consul__Port=8500
      - ServeurDetails__Host=service-facturation
      - ServeurDetails__Port=80
      - RabbitMQ__Protocol=amqp
      - RabbitMQ__Host=rabbitmq
      - RabbitMQ__Username=guest
      - RabbitMQ__Password=guest
      - RabbitMQ__Port=5672
    restart: on-failure
    networks:
      - consul
    depends_on:
      - discovery
      - db_mongo_facturation
      - rabbitmq



networks:
  consul:
    driver: bridge



