server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    consul:
      discovery:
        register: true
      host: ${CONSUL_HOST:localhost}
      port: ${CONSUL_PORT:8500}
    loadbalancer:
      ribbon:
        enabled: false
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: auth-service
          uri: ${uri.service-auth:http://localhost:8081}
          predicates:
            - Path=/api/auth/**
          filters:
            - RewritePath=/api/auth/(?<remains>.*), /api/v1/auth/${remains}
            - PreserveHostHeader
            - RewriteResponseHeader=Location, /api/v1/auth/, /api/auth/

        - id: notification-service
          uri: ${uri.service-notif:http://localhost:8082}
          predicates:
            - Path=/api/notification/**
          filters:
            - RewritePath=/api/notification/(?<remains>.*), /api/v1/notif/${remains}
            - PreserveHostHeader
            - RewriteResponseHeader=Location, /api/v1/notif/, /api/notification/

        - id: rdv-patients-service
          uri: ${uri.service-rdv-patients:http://localhost:8083}
          predicates:
            - Path=/rdvpatients/**
          filters:
            - RewritePath=/rdvpatients/(?<remains>.*), /api/v1/rdvpatients/${remains}
            - PreserveHostHeader
            - RewriteResponseHeader=Location, /api/v1/rdvpatients/, /rdvpatients/

        - id: stock-service
          uri: ${uri.service-stock:http://localhost:8084}
          predicates:
            - Path=/gestionnaire/**
          filters:
            - RewritePath=/gestionnaire/(?<remains>.*), /api/v1/gestionnaire/${remains}
            - PreserveHostHeader
            - RewriteResponseHeader=Location, /api/v1/gestionnaire/, /gestionnaire/

        - id: facture-service
          uri: ${uri.service-facture:http://localhost:8085}
          predicates:
            - Path=/api/facture/**
          filters:
            - RewritePath=/api/facture/(?<remains>.*), /api/facture/v1/${remains}
            - PreserveHostHeader
            - RewriteResponseHeader=Location, /api/facture/v1/, /api/facture/

        - id: openapi
          uri: ${uri.api-gateway:http://localhost:8080}
          predicates:
            - Path=/v3/api-docs/**
          filters:
            - RewritePath=/v3/api-docs/(?<path>.*), /$\{path}/v3/api-docs

        - id: swagger-ui
          uri: ${uri.api-gateway:http://localhost:8080}
          predicates:
              - Path=/swagger-ui/**
          filters:
              - RewritePath=/swagger-ui/(?<path>.*), /$\{path}/swagger-ui

        - id: swagger-ui2
          uri: ${uri.api-gateway:http://localhost:8080}
          predicates:
              - Path=/swagger-ui.html/**
          filters:
              - RewritePath=/swagger-ui.html/(?<path>.*), /$\{path}/swagger-ui.html

uri:
  service-auth: lb://service-auth
  service-notif: lb://service-notif
  service-rdv-patients: lb://service-rdv-patients
  service-stock: lb://service-stockfournisseurs
  service-facture: lb://service-facturation
  api-gateway: lb://api-gateway



# ENV. DEV :
#  service-auth: http://localhost:8081
#  service-notif: http://localhost:8082
#  service-rdv-patients: http://localhost:8083
#  service-stock: http://localhost:8084
#  service-facture: http://localhost:8085