version: "3"
services:
  service-gestionrdvpatientspersonnel_mongo_db_1:
    image: mongo:latest
    container_name: "service-gestionrdvpatientspersonnel_mongo_db_1"
    ports:
      - 27017:27017
  springboot-mongodb-rdvpatients:
    image: springboot-mongodb-rdvpatients:1.0
    container_name: "springboot-mongodb-rdvpatients"
    ports:
      - 8083:8083
    links:
    - service-gestionrdvpatientspersonnel_mongo_db_1