jwt:
  public:
    key: classpath:app.pub

server:
  port: 8084

spring:
  application:
    name: service-gestion-stock-fournisseurs
  data:
    mongodb:
#      uri: mongodb://${DB_HOST:db-mongo-stockfournisseurs}:${DB_PORT:27017}/${DB_NAME:gestionStock}
      database: ${DB_NAME:gestionStock}
      host: ${DB_HOST:localhost}
      port: ${DB_PORT:27017}
  cloud:
    consul:
      host: ${CONSUL_HOST:localhost}
      port: ${CONSUL_PORT:8500}

# TODO configurer le service de messagerie
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}

    #### Modif stock####
    exchange-stock: stock.exchange
    queue: stock.queue
    routingkey-stock: stock.routingkey

#    ###  confirmation génération de la facture ou annulation ###
#    exchange-facture: facture.exchange
#    queue-facture: facture.queue
#    routingkey-facture: facture.routingkey
