spring:
  application:
    name: service-gestion-stock-fournisseurs
  cloud:
    vault:
      token: ${VAULT_TOKEN:token45}
      scheme: http
      kv:
        enabled: true
  config:
    import: optional:configserver:http://localhost:8888, vault://


management:
  endpoints:
    web:
      exposure:
        include: "*"
